streamlit
netCDF4
reportlab
matplotlib
numpy
textblob
PyPDF2
pandas
streamlit_folium
smopy
keras
scikit-learn
sentinelsat
xarray
requests
gdown
grpcio-status==1.33.2
tensorflow==2.17.0
protobuf
numpy
pandas
matplotlib
scikit-learn
