streamlit
netCDF4
reportlab
matplotlib
numpy
textblob
PyPDF2
pandas
streamlit_folium
tensorflow==2.9.0
keras
tensorflow-cpu
smopy
scikit-learn
sentinelsat
xarray
requests
gdown
grpcio-status==1.33.2
protobuf



